<div [formGroup]="form">
  <div class="form-input-group">
    <label class="form-label">Wallet name</label>
    <input
      formControlName="walletName"
      placeholder="Wallet name"
      class="form-control"
      [ngClass]="{
        'is-invalid': formService.isControlInvalid(form, 'walletName')
      }"
    />
    <small
      *ngIf="formService.controlHasRequiredError(form, 'walletName')"
      class="text-danger d-block w-100 px-3 pb-3 pt-1 text-end"
    >
      Required
    </small>
  </div>

  <div class="form-input-group">
    <label class="form-label">Wallet Address</label>
    <input
      formControlName="walletAddress"
      placeholder="Wallet name"
      class="form-control"
      [ngClass]="{
        'is-invalid': formService.isControlInvalid(form, 'walletAddress')
      }"
    />
    <small
      *ngIf="formService.controlHasRequiredError(form, 'walletAddress')"
      class="text-danger d-block w-100 px-3 pb-3 pt-1 text-end"
    >
      Required
    </small>
  </div>
</div>
